# Fluo Home
fluoHome: /path/to/fluo/install
# Fluo Application Name
fluoApp: ccrawl
# Accumulo table where indexes are stored
accumuloIndexTable: ccrawl_index
# WAT HDFS directory
watDataDir: /cc/data/wat
# WET HDFS directory
wetDataDir: /cc/data/wet
# WARC HDFS directory
warcDataDir: /cc/data/warc
# Temporary HDFS output path
hdfsTempDir: /cc/temp
# Hadoop conf dir for Spark
hadoopConfDir: /path/to/hadoop/conf
