# Copyright 2015 Fluo authors (see AUTHORS)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Settings that must be changed
# --------------------------------
# Number of CC files to copy from AWS to HDFS for init phase
numInitFiles: 2
# Number of CC files to copy from AWS to HDFS for load phase
numLoadFiles: 2

# Settings that you might want to change
# --------------------------------------
# Accumulo table where indexes are stored
accumuloIndexTable: webindex_search
# Server URL of where Common Crawl data is hosted
ccServerUrl: https://aws-publicdatasets.s3.amazonaws.com
# Location of Common Crawl paths file to use
ccDataPaths: common-crawl/crawl-data/CC-MAIN-2015-18/wat.paths.gz
# Fluo Application Name
fluoApp: webindex
# HDFS temporary directory
hdfsTempDir: /cc/temp
# HDFS Input directory
hdfsDataDir: /cc/data/2015-18
# Number of Spark executors
sparkExecutorInstances: 2
# Spark executor memory
sparkExecutorMemory: 1g
